<%= form_with model: change_record do |f| %>
  <% if change_record.errors.any? %>
    <div class="errors">
      <h2><%= pluralize(change_record.errors.count, "error") %>
        prohibited this change from being saved</h2>
      <ul>
        <% change_record.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= render FormFieldComponent.new(form: f, label: "Name: ", field: :name) %>
  <%= render FormFieldComponent.new(
    form: f,
    type: :textarea,
    label: "Description: ",
    field: :description,
  ) %>
  <%= render FormFieldComponent.new(
    form: f,
    type: :textarea,
    label: "Business Justification: ",
    field: :business_justification,
  ) %>

  <%= render FormFieldComponent.new(
    form: f,
    type: :textarea,
    label: "Implementation Plan: ",
    field: :implementation_plan,
  ) %>
  <%= render FormFieldComponent.new(form: f, label: "Risks: ", field: :risks) %>
  <%= render FormFieldComponent.new(form: f, label: "Test Plan: ", field: :test_plan) %>
  <%= render FormFieldComponent.new(
    form: f,
    label: "Rollback Plan: ",
    field: :rollback_plan,
  ) %>

  <%= render FormFieldComponent.new(
    form: f,
    type: :select,
    options: Risk.all,
    label: "Risk Level: ",
    field: :risk_id,
  ) %>
  <%= render FormFieldComponent.new(
    form: f,
    type: :select,
    options: ChangeType.all,
    label: "Change Type: ",
    field: :change_type_id,
  ) %>
  <div class="actions" mt-4>
    <%= f.submit class: "btn btn-primary ml-4" %>
  </div>
<% end %>
